<div ng-controller="footerController">
	<div class="footer" ng-class="{teamFooter: isActive('/team') , landingFooter: isActive('/landing')}">
	    <div class="footer_left_content">
	        <img class="footer_logo" src="assets/images/logo.png"/>
	        <div class="footerlist">
	            <ul class="ul">
	                <li>TERM & CONDITIONS</li><p>|</p>
	                <li>PRIVACY POLICY</li><p>|</p>
	                <li>COPYRIGHT</li><p>|</p>
	                <li>DISCLAIMER</li>
	            </ul>
	        </div>
	    </div>
	    <div class="footer_right_content">
	        <p>
	        	ADDRESS: D247/32,SECTOR 63,NOIDA,</br>
	            UTTAR PRADESH 201307<br>
	            <span class="email_content">
	            www.startupglide.com</br></br>
		            <img class="social-image" src="assets/images/lasticon1.png">
		            <img class="social-image" style="width: 9px" src="assets/images/lasticon2.png">
		            <img class="social-image"  src="assets/images/lasticon3.png">
		            <img class="social-image"  src="assets/images/lasticon4.png">
	            </span>
	        </p>
	    </div>
	</div>
</div>
