<!DOCTYPE html>
<html>
<head>
    <script src="js/wow.js"></script>
</head>
<body ng-app="">
<!-- Header div(code is writen in the views/header.html) -->
<div ng-include="'views/header.html'"></div>
<!-- header div end -->

<!-- middle image content -->
<div class="middle_image_content sticky-header-margin">
    <img class="image_content wow fadeInDown" data-wow-delay="0.2s" src="assets/images/image1.png">
</div>
<!-- middle image content end -->

<!-- image bottom tab -->
<div class="bg-tab"></div>
<div class="image_bottom_content">
    <p class="heading wow fadeInUp" data-wow-duration="2s">
        GLIDING YOU [ THE FOUNDER ] TO SUCESSS
    </p>
</div>
<!-- image bottom tab end -->

<!-- linking founders 1st right content -->
<div class="founders_right_content">
    <div class="founders_image_content visible-md visible-lg">
        <img class="founders_image wow fadeInUp" data-wow-duration="2s" src="assets/images/image2.png">
    </div>
    <div class="founders_detail">
        <div class="founders_main_detail">
            <div class="founders_inner_margin wow fadeInDown" data-wow-duration="2s">
                <p>FOUNDER ENCOUNTER TECHNOLOGY AS A BARRIER</p>

                <!-- for responsive view -->
                <div class="founders_image_content visible-sm visible-xs mobile-image-block">
                    <img class="founders_image" src="assets/images/image2.png">
                </div>


                <div class="listdiv">
                    <p>Looking for a CTO to resolve TECH TRAUMA</p>
                    <p>Want to build your GO TO MARKET Product - MVP?</p>
                    <p>Got your hands dirty with Non Reliable Technology Partners</p>
                    <p>Facing a Challenge for choosing technology stack for Front End, Bank End and Mobile Applications</p>
                </div>
            </div>

            <div class="quick-solution">
             &#8659; 2 Quick Solutions &#8659;
            </div>

            <div class="founders_linking">
                <ul>
                    <li> 
                        <a class="float_left" href="#!jump" ng-click="scrollTo('top')"> JUMP &nbsp; <img class="inner_right_img" src="assets/images/image2c.png"></a>
                         
                    </li>
                    <p>|</p>
                    <li>
                        <a class="float_right" href="#!seed" ng-click="scrollTo('top')"> SEED &nbsp; <img class="inner_left_img" src="assets/images/seed icon.png"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="blankspace_right visible-md visible-lg"></div>
<!-- linking founders 1st right content end -->

<!-- linking founders 2nd left content -->
<div class="founders_left_content">

    <div class="founders_inner_detail">
        <div class="founders_inner_div_detail">
            <div class="inner_margin wow fadeInDown" data-wow-duration="2s">
                <p>FOUNDERS CTO'S LOOKING FOR EXPADING THE TECHNOLOGY TEAM.<p>

                <!-- for mobile view -->
                <div class="founders_img_content visible-sm visible-xs mobile-image-block">
                    <img class="founders_img" src="assets/images/image3.png">
                </div>

                <div class="listdiv">
                    <p> Looking for a Reliable cost effective technology partner.</p>
                    <p> Do not want their Tech Team Head Count to grow.</p>
                    <p> Want to get out of hiring hassles.</p>
                </div>

            </div>
            <div class="quicksolution_left_div">
                &#8659; 2 Quick Solutions &#8659;
                </div>

            <div class="founders_linking_left_div">
                <ul>
                    <li>
                        <a class="float_left" href="#!boost" ng-click="scrollTo('top')">BOOST &nbsp;<img class="boosticon" src="assets/images/boost icon.png"></a>
                    </li>
                        <p>|</p>
                    <li>
                         <a class="float_right" href="#!sail" ng-click="scrollTo('top')">SAIL &nbsp;<img class="sailicon" src="assets/images/sail icon.png"></a>
                        <!-- <a class="float_right" href="#!hire" ng-click="scrollTo('top')">HIRE &nbsp;<img class="hireicon" src="assets/images/hire icon.png"></a> -->
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="founders_img_content visible-md visible-lg">
        <img class="founders_img wow fadeInUp" data-wow-duration="2s" src="assets/images/image3.png">
    </div>

</div>

<div class="blankspace_left visible-md visible-lg"></div>
<!-- linking founders 2nd left content end -->

<!-- linking founders 3rd right content -->
<div class="founders_right_content">
    <div class="founders_image_content visible-md visible-lg">
        <img class="founders_image wow fadeInUp" data-wow-duration="2s" src="assets/images/image4.png">
    </div>
    <div class="founders_detail">
        <div class="founders_main_detail">
            <div class="founders_inner_margin wow fadeInDown" data-wow-duration="2s">
                <p>FOUNDERS FRUSTRATED WITH EXISTING TECHNOLOGY TEAM AND VENDORS.</p>

                <!-- for mobile view -->
                <div class="founders_image_content visible-xs visible-sm mobile-image-block">
                    <img class="founders_image" src="assets/images/image4.png">
                </div>

                <div class="listdiv">
                    <p>Product feature launch deadlines are rarely met.</p>
                    <p>Un-maintainable code, Poor code quality.</p>
                    <p>Fed up of repeated excuses.</p>
                </div>
            </div>
            <div class="quick-solution">
                &#8659; Quick Solution &#8659;
            </div>


            <!-- <div class="founders_linking" style="padding-top: 10px;">
                <ul>
                    <li>
                         <a class="float_left" href="#!rock" ng-click="scrollTo('top')"> ROCK &nbsp;<img class="rockicon" src="assets/images/rock icon.png"></a>
                    </li>
                         <p style="top: -5px;">|</p>
                    <li>
                        <a class="float_right" href="#!ops" ng-click="scrollTo('top')">OPS &nbsp;<img class="ops" src="assets/images/image4b.png"></a>
                    </li>
                </ul>
            </div>
 -->
            <div class="founders_linking" style="padding-top: 10px;">
                <ul>
                    <li>
                        <a href="#!rock" ng-click="scrollTo('top')">ROCK &nbsp;<img class="iconimage" src="assets/images/rock icon.png"></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>
<div class="blankspace_right visible-md visible-lg"></div>
<!-- linking founders 3rd right content end -->

<!-- linking founders 4th left content -->
<div class="founders_left_content">
    <div class="founders_inner_detail">
        <div class="founders_inner_div_detail">
            <div class="inner_margin  wow fadeInDown" data-wow-duration="2s">
                <p>FOUNDERS UNABLE TO HIRE</p>
                <!-- for mobile and tab -->
                <div class="founders_img_content  visible-sm visible-xs mobile-image-block">
                    <img class="founders_img" src="assets/images/image5.png">
                </div>
                <div class="listdiv">
                    <p>Not able to build the Tech Team.</p>
                    <p>Potential joinees not turning up.</p>
                    <p>Long notice period.</p>
                </div>
            </div>
            <div class="quicksolution_left_div">
                &#8659; 2 Quick Solutions &#8659;
            </div>


            <div class="founders_linking_left_div" >
                <ul>
                    <li>
                    <a class="float_left" href="#!seed" ng-click="scrollTo('top')"> SEED &nbsp; <img class="inner_left_img" src="assets/images/seed icon.png"></a>
                       <!--  <a class="float_left" href="#!investor" ng-click="scrollTo('top')">INVESTOR &nbsp;<img class="investor_icon" src="assets/images/image5a.png"></a> -->
                    </li>
                    <p>|</p>
                    <li>
                    <a class="float_right" href="#!boost" ng-click="scrollTo('top')">BOOST &nbsp;<img class="boosticon" src="assets/images/boost icon.png"></a>

                        <!-- <a class="float_right" href="#!sail" ng-click="scrollTo('top')">SAIL &nbsp;<img class="sailicon" src="assets/images/sail icon.png"></a> -->
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="founders_img_content visible-md visible-lg">
        <img class="founders_img wow fadeInUp" data-wow-duration="2s" src="assets/images/image5.png">
    </div>
</div>
<div class="blankspace_left visible-md visible-lg"></div>
<!-- linking founders 4th left content end -->

<!-- linking founders 5th right content -->
<div class="founders_right_content">
    <div class="founders_image_content visible-md visible-lg">
        <img class="founders_image wow fadeInUp" data-wow-duration="2s" src="assets/images/image6.png">
    </div>

    <div class="founders_detail">
        <div class="founders_main_detail">
            <div class="founders_inner_margin wow fadeInDown" data-wow-duration="2s">
                <p>I HAVE AN IDEA- "READY WITH MVP"</p>

                <div class="founders_image_content visible-sm visible-xs mobile-image-block">
                    <img class="founders_image" src="assets/images/image6.png">
                </div>

                <div class="listdiv">
                    <p>Looking for Consultants/Mentors in a specific Domains/verticals.</p>
                    <p>Ready with MVP, have an intial customer base, looking for Investments.</p>
                    <p> Need help in Market Research</p>

                </div>
            </div>

            <div class="quick-solution">
                &#8659; Quick Solution &#8659;
            </div>
            <div class="founders_linking" style="padding-top: 10px;">
                <ul>
                    <li>
                    
                    <a class="float_left" href="#!mentor" ng-click="scrollTo('top')">MENTOR &nbsp;<img class="iconimage" src="assets/images/image6b.png"></a>
                       
                    </li>
                    <p>|</p>
                    <li>
                     <a class="float_right" href="#!investor" ng-click="scrollTo('top')">INVESTOR &nbsp;<img class="investor_icon" src="assets/images/image5a.png"></a>
                    
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>
<div class="blankspace_right visible-md visible-lg"></div>
<!-- linking founders 5th right content end -->


<!--  div for desktop testimonial -->
<div class="testimonial" style="position: relative;" >
    <div class="Slides ">
        <div class="testimonial-text">
            <div class="textbox">
                <div style="width: 100%; float: left;text-align: center;">
                    <h class="textheading">Testimonials 1</h>
                </div>

                <div class="visible-xs visible-sm" style="width: 100%; float: left;background-color: #1e6c71">
                    <div class="responsiveRapper homeiframe">
                        <!--<iframe width="660" height="315" src="https://www.youtube.com/embed/z4d1HKs-k9U" frameborder="0" allowfullscreen></iframe>-->
                        <iframe width="660" height="315" src="https://www.youtube.com/embed/W-IvQ5LPork" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

                <div style="width: 100%; float: left; text-align: center;">
                    <p class="textpara" style="padding: 10px">
                        Lorem ipsum dolor sit amet, consectetur</br> adipisicing elit, sed do eiusmod tempor incidi</br>dunt ut labore et dolore magna aliqua. Ut e nim</br> ad minim veniam, quis nostrud exercitation </br>ullamco laboris nisi ut aliquip ex ea commodo</br> consequat. Duis aute irure dolor in reprehenderit</br> in voluptate velit esse cillum dolore eu fugiat nulla</br> pariatur. Excepteur sint occaecat cupidatat non</br> proident, sunt in culpa qui officia deserunt mollit</br> anim id est laborum. Sed ut perspiciatis unde
                    </p>
                </div>
            </div>
        </div>

        <div class="testimonial-image visible-md visible-lg">
            <div style="width: 100%; float: left;">
                <!--<img style="width: 100%;" src="images/try.png">-->

                <div class="responsiveRapper homeiframe">
                    <!--<iframe width="660" height="315" src="https://www.youtube.com/embed/z4d1HKs-k9U" frameborder="0" allowfullscreen></iframe>-->
                    <iframe width="660" height="315" src="https://www.youtube.com/embed/W-IvQ5LPork" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="Slides">
        <div class="testimonial-text">
            <div class="textbox">
                <div style="width: 100%; float: left;text-align: center;">

                    <h class="textheading">Testimonials 2</h>
                </div>

                <div class="visible-xs visible-sm" style="width: 100%; float: left;background-color: #1e6c71">
                    <div class="responsiveRapper homeiframe">
                        <iframe width="660" height="315" src="https://www.youtube.com/embed/z4d1HKs-k9U" frameborder="0" allowfullscreen></iframe>
                        <!--<iframe width="660" height="315" src="https://www.youtube.com/embed/W-IvQ5LPork" frameborder="0" allowfullscreen></iframe>-->
                    </div>
                </div>

                <div style="width: 100%; float: left; text-align: center;">
                    <p class="textpara" style="padding: 10px">
                        Lorem ipsum dolor sit amet, consectetur</br> adipisicing elit, sed do eiusmod tempor incidi</br>dunt ut labore et dolore magna aliqua. Ut e nim</br> ad minim veniam, quis nostrud exercitation </br>ullamco laboris nisi ut aliquip ex ea commodo</br> consequat. Duis aute irure dolor in reprehenderit</br> in voluptate velit esse cillum dolore eu fugiat nulla</br> pariatur. Excepteur sint occaecat cupidatat non</br> proident, sunt in culpa qui officia deserunt mollit</br> anim id est laborum. Sed ut perspiciatis unde
                    </p>
                </div>
            </div>
        </div>

        <div class="testimonial-image visible-md visible-lg">
            <div style="width: 100%; float: left;">
                <div class="responsiveRapper homeiframe">
                    <iframe width="660" height="315" src="https://www.youtube.com/embed/z4d1HKs-k9U" frameborder="0" allowfullscreen></iframe>
                    <!--<iframe width="660" height="315" src="https://www.youtube.com/embed/W-IvQ5LPork" frameborder="0" allowfullscreen></iframe>-->
                </div>

                <!--<img style="width: 100%" src="images/try.png">-->
            </div>
        </div>
    </div>

    <div class="Slides">
        <div class="testimonial-text">
            <div class="textbox">
                <div style="width: 100%; float: left;text-align: center;">

                    <h class="textheading">Testimonials 3</h>
                </div>

                <div class="visible-xs visible-sm" style="width: 100%; float: left;background-color: #1e6c71">
                    <div class="responsiveRapper homeiframe">
                        <!--<iframe width="660" height="315" src="https://www.youtube.com/embed/z4d1HKs-k9U" frameborder="0" allowfullscreen></iframe>-->
                        <iframe width="660" height="315" src="https://www.youtube.com/embed/W-IvQ5LPork" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div style="width: 100%; float: left; text-align: center;">
                    <p class="textpara" style="padding: 10px">
                        Lorem ipsum dolor sit amet, consectetur</br> adipisicing elit, sed do eiusmod tempor incidi</br>dunt ut labore et dolore magna aliqua. Ut e nim</br> ad minim veniam, quis nostrud exercitation </br>ullamco laboris nisi ut aliquip ex ea commodo</br> consequat. Duis aute irure dolor in reprehenderit</br> in voluptate velit esse cillum dolore eu fugiat nulla</br> pariatur. Excepteur sint occaecat cupidatat non</br> proident, sunt in culpa qui officia deserunt mollit</br> anim id est laborum. Sed ut perspiciatis unde
                    </p>
                </div>
            </div>
        </div>

        <div class="testimonial-image visible-md visible-lg">
            <div style="width: 100%; float: left;">
                <div class="responsiveRapper homeiframe">
                    <!--<iframe width="660" height="315" src="https://www.youtube.com/embed/z4d1HKs-k9U" frameborder="0" allowfullscreen></iframe>-->
                    <iframe width="660" height="315" src="https://www.youtube.com/embed/W-IvQ5LPork" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

<div class="dotposition ">
    <span class="dot" onclick="current(1)"></span>
    <span class="dot" onclick="current(2)"></span>
    <span class="dot" onclick="current(3)"></span>
</div>

    <a class="prev" onclick="plus(-1)">&#10094;</a>
    <a class="next" onclick="plus(1)">&#10095;</a>
</div>
</div>





<!-- footer div(code is writen in the views/footer.html) -->
<div ng-include="'views/footer.html'"></div>
<!-- footer div end -->
</div>


<Script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plus(n) {
        showSlides(slideIndex += n);
    }

    function current(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("Slides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }

</Script>
</body>
</html>