<!DOCTYPE html>
<html>
<head>
	<script src="js/wow.js"></script>
</head>
<body ng-app="">

	<!-- header div -->
	<div ng-include="'views/header.html'"></div>
	<!-- header div end -->	

	<div class="outer_main_div">
	<!-- Introductive part of the page -->
		<div class="main_view_bg">
			<div class="img_content ">
				<img src="assets/images/jump.png" class="wow fadeInDown" data-wow-delay="0.2s" style="width: 58%;left: 10px;">
			</div>
			<div class="text_content">
				<div class="main_text_detail wow fadeInUp" data-wow-duration="2s">
					<div class="heading">JUMP
						<img src="assets/images/image2c.png" style="top: 0px; vertical-align: baseline;">
					</div>
					<p class="inner-tagline">Jump start now</p>
					<p>
						"Startup Jump is specifically designed for the overwhellmed.  </p> <p>

Like a mother a founder wants everything for there startup but this leads to unnecessary complexcities and a drag. </p> 
<p> Jump assigns an expereinced architect to your cause to help you trim the fat and define technologies that will work for you.</p> 

<p> Jump also guides you on what to look out for when selecting a technology partner so that control remains with you."
					</p>
				</div>
				
			</div>
			<!-- <div class="seed_image  visible-sm visible-xs">
				<img src="assets/images/jump.png">
			</div> -->
		</div>
		<!-- Introductive part of the page end-->

		<!-- How it works section -->
		<div class="inner_content">
		<div class="middle_section">
			<div class="margin_div visible-lg visible-md" style="margin-top: 0px" ></div>
				<div class="inner_detail_section">
					<div class="inner_heading">
							<!-- <p class="number_head">01</p> -->
							<p class="main_heading wow fadeInDown" data-wow-delay="0.2s">How it works?</p>
					</div>
					<div class="working_detail_section wow fadeInUp" data-wow-duration="2s">

						<div class="works-left" >
							<div class="trafficlight" style="float: right">
 								<div class="protector"></div>
 								 <div class="protector"></div>
 								 <div class="protector"></div>
 								 <div class="red">GET</div>
 								 <div class="yellow">SET</div>
 								 <div class="green">GO</div>
							</div>
						</div>

						<div  class="works-right" >
							<table class="traffic-text">
								<tr>
									<td>Understand Business Idea</td>
								</tr>
								<tr>
									<td>Execute a focused workshop to define product scope, market size and areas that need to be covered for product success</td>
								</tr>
								<tr>
									<td>Define a project delivery schedule</td>
								</tr>

							</table>
						</div>


						<!-- <div class="col-lg-4 col-md-4 col-sm-6">
							<div class="working_inner_detail">
								<img src="assets/images/icon1.png">
								<p>Engage an architect/business analyst for 10-15 days.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="working_inner_detail">
								<img src="assets/images/icon1.png">
								<p>We will define a scope matrix for you go to market product.</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="working_inner_detail">
								<img src="assets/images/icon1.png">
								<p>WE give you options with complete flexbility -T&M as well as fixed cost model.</p>
							</div>
						</div> -->
					</div>
				</div>
		</div>
		<div class="middle_circle_section hidden-sm hidden-xs wow fadeInDown" data-wow-delay="0.2s">
			<span class="glyphicon glyphicon-menu-down"></span>
		</div>
		</div>
		<!-- How it works section end -->

		<!-- Benfits section -->
		<div class="middle_content_section">
			<div class="float_left text_section">
				<div class="head_section wow fadeInDown" data-wow-delay="0.2s">
					<!-- <p>02</p> -->
					<h2>Benefits</h2>
				</div>
				<div class="wow fadeInUp"  data-wow-duration="2s">

				<table class="inner_text_detail_jump" >
					<tr>
						<td><img src="assets/images/icon6.png"></td>
						<td>MVP Scoping and defination</td>
					</tr>
					<tr>
						<td><img src="assets/images/icon7.png"></td>
						<td>High level defination of delivery and execution plans so that marketing and other activities may be aligned</td>
					</tr>
					<tr>
						<td><img src="assets/images/icon8.png"></td>
						<td>Guidence around software processes</td>
					</tr>
				</table>

				<!-- <div class="inner_text_detail">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<img src="assets/images/icon6.png">
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
					   	<p> MVP Scoping and defination</p>
					</div>
				</div>
				<div class="inner_text_detail">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<img src="assets/images/icon7.png">
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
					   	<p>High level defination of delivery and execution plans so that marketing and other activities may be aligned</p>
					</div>
				</div>
				<div class="inner_text_detail">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<img src="assets/images/icon8.png">
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
					   	<p>Guidence around software processes</p>
					</div>
				</div> -->
				</div>
			</div>
			<div class="float_right image_section visible-md visible-lg">
				<img src="assets/images/python.png" class="wow fadeInUp"  data-wow-duration="2s">
			</div>
		</div>
		<div class="blankspace_div visible-md visible-lg"></div><br>
		<!-- Benfits section end-->

		<!-- sliding video section -->
			<div ng-include="'views/slideVideo.html'"></div>
		<!-- sliding video section end -->

		<!-- offer section -->
		<!-- <div class="offer_section">
			<div class="offer_text_section float_left">
				<div class="head_section wow fadeInDown" data-wow-delay="0.2s">
					
					<h2>Offer Section</h2>
				</div>
				<div class="offer_inner_text wow fadeInUp"  data-wow-duration="2s">
					<p>Avail <span>10%</span> <br>Discount for first<br> come first basic</p>
					<button class="btn offer_reach_btn">Reach Us Now</button>
				</div>
			</div>
			<div class="offer_image_section float_right visible-md visible-lg ">
				<img src="assets/images/offer.png" class="wow fadeInDown"  data-wow-delay="0.2s">
			</div>
		</div> -->
		<!-- offer section end -->

		<!-- product section -->
		<div class="product_section">
			<div class="product_text_section">
				<div class="product_heading wow fadeInDown" data-wow-delay="0.2s">
					<!-- <p>05</p> -->
					<h2>Related Products</h2>
				</div>
				<div class="product_list wow fadeInUp" data-wow-duration="2s">
						
						<a href="#!boost" class="inner_product_list">BOOST<img src="assets/images/lasticon.png"></a>
						<a href="#!sail" class="inner_product_list">SAIL<img src="assets/images/lasticon.png"></a>
						<a href="#!seed" class="inner_product_list">SEED<img src="assets/images/lasticon.png"></a>
						
						
				</div>
			</div>
		</div>
		<!-- product section end-->
</div>
</body>
</html>