<!DOCTYPE html>
<html>
<head>
	<script src="js/wow.js"></script>
</head>
<body ng-app="">
	<!-- header div -->
	<div ng-include="'views/header.html'"></div>
	<!-- header div end -->	

	<div class="outer_main_div">

		<!-- Main image content -->
		<div class="main_image_content hidden-xs">
			<div class="landing-banner-left" >
			<h1 ng-click="scrollTo('landingProduct')" class="ribbon">
   				<strong class="ribbon-content">Build your MVP</strong>
			</h1>

			<h1 ng-click="scrollTo('landingProduct')"  class="ribbon2" style="width: 60%">
   				<strong class="ribbon-content2">Hire your CTO</strong>
			</h1>

			<h1 ng-click="scrollTo('landingProduct')"  class="ribbon3" style="width: 50%">
   				<strong class="ribbon-content3">Build your Tech Team</strong>
			</h1>


			</div>

			<div class="landing-banner-right" >
			
				<img class="bg_img wow fadeInDown" src="assets/images/landing.png" data-wow-delay="0.2s" >
			</div>
			
			<!-- <div class="inner_bg_text wow fadeInUp" data-wow-duration="2s">
				<h1>MANAGEMENT BACKGROUND</h1>
				<img class="heading_line_img" src="assets/images/line.png" >
			</div> -->
		</div>



		<div class="main_image_content visible-xs">
			
			<div class="landing-banner-right" >
			
				<img class="bg_img wow fadeInDown" src="assets/images/landing-mob.png" data-wow-delay="0.2s" >
			</div>
			
			<div class="landing-banner-left" >
			<h1 ng-click="scrollTo('landingProduct')" class="ribbon">
   				<strong class="ribbon-content">Build your MVP</strong>
			</h1>

			<h1 ng-click="scrollTo('landingProduct')"  class="ribbon2" style="width: 70%">
   				<strong class="ribbon-content2">Hire your CTO</strong>
			</h1>

			<h1 ng-click="scrollTo('landingProduct')"  class="ribbon3" style="width: 60%">
   				<strong class="ribbon-content3">Build your Tech Team</strong>
			</h1>


			</div>

		</div>

		<!-- Main image content end -->
		<!-- middle text content -->
		<div id='landingProduct' class="middle_text wow fadeInDown" data-wow-delay="0.2s">
			<!-- <p>We are <span>small</span> yet mighty, we are reckless<br>
				though wiser than you may <span>think</span>, we are go-<br>
				getters but most of all, we are visionary!
			</p> -->

			<p>
				"As a business we understand how hard it is to build products. Building and managing our own line of products we have gathered unique experience to make a startup like yours successful.
</p>
<p>
We provide a spectrum of productised services to help startups grow. Our products provide flexbility, quality and above all delivery.
</p>
<p>
So if you are looking for building a tech team, a MVP or need a CTO or just someone to talk to contact us."

			</p>

		</div>
		<!-- middle text content end-->
 
		<!-- tab div -->
		<div  class="tab_panel">
			<div class="left_tab">
				<div class="tab_text wow fadeInUp" data-wow-duration="2s">
					
					<a href="#!jump" class="tab_title">JUMP</a>
				</div>
				<img class="heading_img  wow fadeInDown" src="assets/images/jumpicon.png" data-wow-delay="0.2s">

				<div class="landing-lagline"> 
					<a href="#!jump"> Germinate your startup </a>
				</div>
			</div>
			<div class="middle_line">
				<img class="heading_line_img" src="assets/images/hor-line.png" >
			</div>
			<div class="right_tab">
				<div class="tab_text wow fadeInUp" data-wow-duration="2s">
					
					<a href="#!seed" class="tab_title">SEED</a>
				</div>
				<img class="heading_img wow fadeInDown" src="assets/images/seedicon.png" data-wow-delay="0.2s">

				<div class="landing-lagline"> 
					<a href="#!seed"> MVP out in less than a quarter </a>
				</div>
				
			</div>
		</div>
		<!-- tab div end -->

		<!-- sliding video section -->
		<div class="testimonial" style="position: relative;" >
		    <div class="Slides ">
		        <div class="testimonial-text" style="background: #fff; border: 1px solid #fff;">
		            <div class="textbox">
		                <div style="width: 100%; float: left;text-align: center;">
		                    <h class="textheading" style="color:#bb994e;">Testimonials 1</h>
		                </div>

		                <div class="visible-xs visible-sm" style="width: 100%; float: left;background-color: #1e6c71">
		                    <div class="responsiveRapper homeiframe">
		                        <iframe width="660" height="315" src="https://www.youtube.com/embed/W-IvQ5LPork" frameborder="0" allowfullscreen></iframe>
		                    </div>
		                </div>

		                <div style="width: 100%; float: left; text-align: center;">
		                    <p class="textpara" style="padding: 10px; color:#bb994e;">
		                        Lorem ipsum dolor sit amet, consectetur</br> adipisicing elit, sed do eiusmod tempor incidi</br>dunt ut labore et dolore magna aliqua. Ut e nim</br> ad minim veniam, quis nostrud exercitation </br>ullamco laboris nisi ut aliquip ex ea commodo</br> consequat. Duis aute irure dolor in reprehenderit</br> in voluptate velit esse cillum dolore eu fugiat nulla</br> pariatur. Excepteur sint occaecat cupidatat non</br> proident, sunt in culpa qui officia deserunt mollit</br> anim id est laborum. Sed ut perspiciatis unde
		                    </p>
		                </div>
		            </div>
		        </div>

		        <div class="testimonial-image visible-md visible-lg">
		            <div style="width: 100%; float: left;background-color: #1e6c71">
		                <div class="responsiveRapper homeiframe">
		                    <iframe width="660" height="315" src="https://www.youtube.com/embed/W-IvQ5LPork" frameborder="0" allowfullscreen></iframe>
		                </div>
		            </div>
		        </div>
		    </div>

		    <div class="Slides">
		        <div class="testimonial-text" style="background: #fff; border: 1px solid #fff;">
		            <div class="textbox">
		                <div style="width: 100%; float: left;text-align: center;">
		                    <h class="textheading" style="color:#bb994e;">Testimonials 2</h>
		                </div>
		                <div class="visible-xs visible-sm" style="width: 100%; float: left;background-color: #1e6c71">
		                    <div class="responsiveRapper homeiframe">
		                        <iframe width="660" height="315" src="https://www.youtube.com/embed/z4d1HKs-k9U" frameborder="0" allowfullscreen></iframe>
		                    </div>
		                </div>

		                <div style="width: 100%; float: left; text-align: center;">
		                    <p class="textpara" style="padding: 10px; color:#bb994e;">
		                        Lorem ipsum dolor sit amet, consectetur</br> adipisicing elit, sed do eiusmod tempor incidi</br>dunt ut labore et dolore magna aliqua. Ut e nim</br> ad minim veniam, quis nostrud exercitation </br>ullamco laboris nisi ut aliquip ex ea commodo</br> consequat. Duis aute irure dolor in reprehenderit</br> in voluptate velit esse cillum dolore eu fugiat nulla</br> pariatur. Excepteur sint occaecat cupidatat non</br> proident, sunt in culpa qui officia deserunt mollit</br> anim id est laborum. Sed ut perspiciatis unde
		                    </p>
		                </div>
		            </div>
		        </div>

		        <div class="testimonial-image visible-md visible-lg">
		            <div style="width: 100%; float: left;background-color: red">
		                <div class="responsiveRapper homeiframe">
		                    <iframe width="660" height="315" src="https://www.youtube.com/embed/z4d1HKs-k9U" frameborder="0" allowfullscreen></iframe>
		                </div>
		            </div>
		        </div>
		    </div>

		    <div class="Slides">
		        <div class="testimonial-text" style="background: #fff; border: 1px solid #fff;">
		            <div class="textbox">
		                <div style="width: 100%; float: left;text-align: center;">
		                    <h class="textheading" style="color:#bb994e;">Testimonials 3</h>
		                </div>

		                <div class="visible-xs visible-sm" style="width: 100%; float: left;background-color: #1e6c71">
		                    <div class="responsiveRapper homeiframe">
		                        <iframe width="660" height="315" src="https://www.youtube.com/embed/W-IvQ5LPork" frameborder="0" allowfullscreen></iframe>
		                    </div>
		                </div>
		                <div style="width: 100%; float: left; text-align: center;">
		                    <p class="textpara" style="padding: 10px; color:#bb994e;">
		                        Lorem ipsum dolor sit amet, consectetur</br> adipisicing elit, sed do eiusmod tempor incidi</br>dunt ut labore et dolore magna aliqua. Ut e nim</br> ad minim veniam, quis nostrud exercitation </br>ullamco laboris nisi ut aliquip ex ea commodo</br> consequat. Duis aute irure dolor in reprehenderit</br> in voluptate velit esse cillum dolore eu fugiat nulla</br> pariatur. Excepteur sint occaecat cupidatat non</br> proident, sunt in culpa qui officia deserunt mollit</br> anim id est laborum. Sed ut perspiciatis unde
		                    </p>
		                </div>
		            </div>
		        </div>

		        <div class="testimonial-image visible-md visible-lg">
		            <div style="width: 100%; float: left;background-color: red">
		                <div class="responsiveRapper homeiframe">
		                    <iframe width="660" height="315" src="https://www.youtube.com/embed/W-IvQ5LPork" frameborder="0" allowfullscreen></iframe>
		                </div>
		            </div>
		        </div>
		    </div>
		
		
		<div class="dotposition ">
		    <span class="dot" onclick="current(1)"></span>
		    <span class="dot" onclick="current(2)"></span>
		    <span class="dot" onclick="current(3)"></span>
		</div>

		    <a class="prev" onclick="plus(-1)">&#10094;</a>
		    <a class="next" onclick="plus(1)">&#10095;</a>
		</div>
		<!-- sliding video section end -->

		<!-- footer div -->
		<div class="team_footer" ng-include="'views/footer.html'"></div>
		<!-- footer div end -->
	</div>

	<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plus(n) {
        showSlides(slideIndex += n);
    }

    function current(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("Slides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }

</script>
</body>
</html>