<!DOCTYPE html>
<html>
<head>
	<script src="js/wow.js"></script>
</head>
<body ng-app="">

	<!-- header div -->
	<div ng-include="'views/header.html'"></div>
	<!-- header div end -->	

	<div class="outer_main_div">
	<!-- Introductive part of the page -->
		<div class="main_view_bg">
			<div class="img_content">
				<img src="assets/images/seed.png" class="wow fadeInDown" data-wow-delay="0.2s">
			</div>
			<div class="text_content">
				<div class="main_text_detail wow fadeInUp" data-wow-duration="2s">
					<div class="heading">SEED
						<img src="assets/images/seed icon.png">
					</div>
					<p class="inner-tagline">MVP Out in less than a Quarter</p>
					<p>
						"As sucessful enterprenours we know the value of time to market and market feedback. Seed is specifically designed to have a working viable product in a quater.Straggering and Struggeling products rarely make it to market because of a drop in focus. A high energy delivery in a quater is what jump starts the product and brings in responsibility of catreing to live customers.
</p><p>
Our team of business and technology experts help you with the process to capitalize market in lowest possible time.
</p><p>
The Seed product is explictly designed to allow you to delegate technology to our team so you may focus on business strategies.
</p><p>
This allows you to focus on what you know best vis. business."
					</p>
				</div>
				
			</div>
			<!-- <div class="seed_image  visible-sm visible-xs">
				<img src="assets/images/seed.png">
			</div> -->
		</div>
		<!-- Introductive part of the page end-->

		<!-- How it works section -->
		<div class="inner_content">
		<div class="middle_section">
			<div class="margin_div visible-lg visible-md" style="margin-top: 0px"></div>
				<div class="inner_detail_section">
					<div class="inner_heading">
							<!-- <p class="number_head">01</p> -->
							<p class="main_heading wow fadeInDown" data-wow-delay="0.2s">How it works?</p>
					</div>
					<div class="working_detail_section wow fadeInUp" data-wow-duration="2s">
						
						<div class="works-left" >
							<div class="trafficlight" style="float: right">
 								<div class="protector"></div>
 								 <div class="protector"></div>
 								 <div class="protector"></div>
 								 <div class="red">GET</div>
 								 <div class="yellow">SET</div>
 								 <div class="green">GO</div>
							</div>
						</div>

						<div  class="works-right" >
							<table class="traffic-text">
								<tr>
									<td> Define Product vision, roadmap and deloivery schedule insync with an an experienced architect.</td>
								</tr>
								<tr>
									<td>Build a product with fortnightly deliverables to mark progress, with an expert team consisting of architects, UX developers, mobiler application designers and hard core server side experts</td>
								</tr>
								<tr>
									<td>Go to market and launch the product </td>
								</tr>

							</table>
						</div>


					</div>
				</div>
		</div>
		<div class="middle_circle_section hidden-sm hidden-xs wow fadeInDown" data-wow-delay="0.2s">
			<span class="glyphicon glyphicon-menu-down"></span>
		</div>
		</div>
		<!-- How it works section end -->

		<!-- Benfits section -->
		<div class="middle_content_section">
			<div class="float_left text_section">
				<div class="head_section wow fadeInDown" data-wow-delay="0.2s">
					<!-- <p>02</p> -->
					<h2>Benefits</h2>
				</div>
				<div class="wow fadeInUp"  data-wow-duration="2s">
					<table class="inner_text_detail_jump" >
					<tr>
						<td><img src="assets/images/icon6.png"></td>
						<td>Product Out in a Quarter allowing quick market capture and expposure to real world</td>
					</tr>
					<tr>
						<td><img src="assets/images/icon7.png"></td>
						<td>Fortnightly Delivery marking progress, you see progress every fifteen days and don’t wait for end to see what is coming. This allows course corrections</td>
					</tr>
					<tr>
						<td><img src="assets/images/icon8.png"></td>
						<td>Engagement with specialists who know what it takes to deliver products</td>
					</tr>
					<tr>
						<td><img src="assets/images/icon6.png"></td>
						<td>Strong foundtion laid out by experts with eon's of experience</td>
					</tr>
					<tr>
						<td><img src="assets/images/icon7.png"></td>
						<td>Led by experienced architects to help manage scope and technologies</td>
					</tr>
					<tr>
						<td><img src="assets/images/icon8.png"></td>
						<td>Team of experienced UX designers, devops, back end developers and mobile team working in synergy with your business</td>
					</tr>
				</table>
				</div>
			</div>
			<div class="float_right image_section visible-md visible-lg">
				<img src="assets/images/image3.png" class="wow fadeInUp"  data-wow-duration="2s">
			</div>
		</div>
		<div class="blankspace_div visible-md visible-lg"></div><br>
		<!-- Benfits section end-->

		<!-- sliding video section -->
		<div ng-include="'views/slideVideo.html'"></div>
		<!-- sliding video section end -->

		<!-- offer section -->
		<!-- <div class="offer_section">
			<div class="offer_text_section float_left">
				<div class="head_section wow fadeInDown" data-wow-delay="0.2s">
					
					<h2>Offer Section</h2>
				</div>
				<div class="offer_inner_text wow fadeInUp"  data-wow-duration="2s">
					<p>Avail <span>10%</span> <br>Discount for first<br> come first basic</p>
					<button class="btn offer_reach_btn">Reach Us Now</button>
				</div>
			</div>
			<div class="offer_image_section float_right visible-md visible-lg ">
				<img src="assets/images/offer.png" class="wow fadeInDown"  data-wow-delay="0.2s">
			</div>
		</div> -->
		<!-- offer section end -->

		<!-- product section -->
		<div class="product_section">
			<div class="product_text_section">
				<div class="product_heading wow fadeInDown" data-wow-delay="0.2s">
					<!-- <p>05</p> -->
					<h2>Related Products</h2>
				</div>
				<div class="product_list wow fadeInUp" data-wow-duration="2s">
						<a href="#!boost" class="inner_product_list">BOOST<img src="assets/images/lasticon.png"></a>
						<a href="#!sail" class="inner_product_list">SAIL<img src="assets/images/lasticon.png"></a>
						<a href="#!jump" class="inner_product_list">JUMP<img src="assets/images/lasticon.png"></a>
						
				</div>
			</div>
		</div>
		<!-- product section end-->
</div>


</body>
</html>