<div class="testimonial" style="position: relative;" >
    <div class="Slides ">
        <div class="testimonial-text">
            <div class="textbox">
                <div style="width: 100%; float: left;text-align: center;">
                    <h class="textheading">Testimonials 1</h>
                </div>

                <div class="visible-xs visible-sm" style="width: 100%; float: left;background-color: #1e6c71">
                    <div class="responsiveRapper">
                        <!--<iframe width="660" height="315" src="https://www.youtube.com/embed/z4d1HKs-k9U" frameborder="0" allowfullscreen></iframe>-->
                        <iframe width="660" height="315" src="https://www.youtube.com/embed/W-IvQ5LPork" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

                <div style="width: 100%; float: left; text-align: center;">
                    <p class="textpara" style="padding: 10px">
                        Lorem ipsum dolor sit amet, consectetur</br> adipisicing elit, sed do eiusmod tempor incidi</br>dunt ut labore et dolore magna aliqua. Ut e nim</br> ad minim veniam, quis nostrud exercitation </br>ullamco laboris nisi ut aliquip ex ea commodo</br> consequat. Duis aute irure dolor in reprehenderit</br> in voluptate velit esse cillum dolore eu fugiat nulla</br> pariatur. Excepteur sint occaecat cupidatat non</br> proident, sunt in culpa qui officia deserunt mollit</br> anim id est laborum. Sed ut perspiciatis unde
                    </p>
                </div>
            </div>
        </div>

        <div class="testimonial-image visible-md visible-lg">
            <div style="width: 100%; float: left;">
                <!--<img style="width: 100%;" src="images/try.png">-->

                <div class="responsiveRapper">
                    <!--<iframe width="660" height="315" src="https://www.youtube.com/embed/z4d1HKs-k9U" frameborder="0" allowfullscreen></iframe>-->
                    <iframe width="660" height="315" src="https://www.youtube.com/embed/W-IvQ5LPork" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="Slides">
        <div class="testimonial-text">
            <div class="textbox">
                <div style="width: 100%; float: left;text-align: center;">

                    <h class="textheading">Testimonials 2</h>
                </div>

                <div class="visible-xs visible-sm" style="width: 100%; float: left;background-color: #1e6c71">
                    <div class="responsiveRapper">
                        <iframe width="660" height="315" src="https://www.youtube.com/embed/z4d1HKs-k9U" frameborder="0" allowfullscreen></iframe>
                        <!--<iframe width="660" height="315" src="https://www.youtube.com/embed/W-IvQ5LPork" frameborder="0" allowfullscreen></iframe>-->
                    </div>
                </div>

                <div style="width: 100%; float: left; text-align: center;">
                    <p class="textpara" style="padding: 10px">
                        Lorem ipsum dolor sit amet, consectetur</br> adipisicing elit, sed do eiusmod tempor incidi</br>dunt ut labore et dolore magna aliqua. Ut e nim</br> ad minim veniam, quis nostrud exercitation </br>ullamco laboris nisi ut aliquip ex ea commodo</br> consequat. Duis aute irure dolor in reprehenderit</br> in voluptate velit esse cillum dolore eu fugiat nulla</br> pariatur. Excepteur sint occaecat cupidatat non</br> proident, sunt in culpa qui officia deserunt mollit</br> anim id est laborum. Sed ut perspiciatis unde
                    </p>
                </div>
            </div>
        </div>

        <div class="testimonial-image visible-md visible-lg">
            <div style="width: 100%; float: left;">
                <div class="responsiveRapper">
                    <iframe width="660" height="315" src="https://www.youtube.com/embed/z4d1HKs-k9U" frameborder="0" allowfullscreen></iframe>
                    <!--<iframe width="660" height="315" src="https://www.youtube.com/embed/W-IvQ5LPork" frameborder="0" allowfullscreen></iframe>-->
                </div>

                <!--<img style="width: 100%" src="images/try.png">-->
            </div>
        </div>
    </div>

    <div class="Slides">
        <div class="testimonial-text">
            <div class="textbox">
                <div style="width: 100%; float: left;text-align: center;">

                    <h class="textheading">Testimonials 3</h>
                </div>

                <div class="visible-xs visible-sm" style="width: 100%; float: left;background-color: #1e6c71">
                    <div class="responsiveRapper">
                        <!--<iframe width="660" height="315" src="https://www.youtube.com/embed/z4d1HKs-k9U" frameborder="0" allowfullscreen></iframe>-->
                        <iframe width="660" height="315" src="https://www.youtube.com/embed/W-IvQ5LPork" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div style="width: 100%; float: left; text-align: center;">
                    <p class="textpara" style="padding: 10px">
                        Lorem ipsum dolor sit amet, consectetur</br> adipisicing elit, sed do eiusmod tempor incidi</br>dunt ut labore et dolore magna aliqua. Ut e nim</br> ad minim veniam, quis nostrud exercitation </br>ullamco laboris nisi ut aliquip ex ea commodo</br> consequat. Duis aute irure dolor in reprehenderit</br> in voluptate velit esse cillum dolore eu fugiat nulla</br> pariatur. Excepteur sint occaecat cupidatat non</br> proident, sunt in culpa qui officia deserunt mollit</br> anim id est laborum. Sed ut perspiciatis unde
                    </p>
                </div>
            </div>
        </div>

        <div class="testimonial-image visible-md visible-lg">
            <div style="width: 100%; float: left;">
                <div class="responsiveRapper">
                    <!--<iframe width="660" height="315" src="https://www.youtube.com/embed/z4d1HKs-k9U" frameborder="0" allowfullscreen></iframe>-->
                    <iframe width="660" height="315" src="https://www.youtube.com/embed/W-IvQ5LPork" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
<div class="dotposition">
    <span class="dot" onclick="current(1)"></span>
    <span class="dot" onclick="current(2)"></span>
    <span class="dot" onclick="current(3)"></span>
</div>

    <a class="prev" onclick="plus(-1)">&#10094;</a>
    <a class="next" onclick="plus(1)">&#10095;</a>
</div>
</div>

<Script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plus(n) {
        showSlides(slideIndex += n);
    }

    function current(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("Slides");
        var dots = document.getElementsByClassName("dot");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        for (i = 0; i < dots.length; i++) {
            dots[i].className = dots[i].className.replace(" active", "");
        }
        slides[slideIndex-1].style.display = "block";
        dots[slideIndex-1].className += " active";
    }
</Script>