<!DOCTYPE html>
<html>
<head>
	<script src="js/wow.js"></script>
</head>
<body ng-app="" >

	<!-- header div -->
	<div ng-include="'views/header.html'"></div>
	<!-- header div end -->	

	<div class="outer_main_div">
		<!-- writing head  -->
			<div class="writing_head">
				<div class="inner_writing_content">
					<h2  class="wow fadeInDown" data-wow-delay="0.2s">MEET THE GEEKS!</h2>
					<p class="wow fadeInUp" data-wow-duration="2s">Some inspiring lines about team. Some inspiring lines about team. Some inspiring lines about team. Some inspiring lines about team. Some inspiring lines about team. Some inspiring lines about team. Some inspiring lines about team. Some inspiring lines about team. Some inspiring lines about team. Some inspiring lines about team. Some inspiring lines about team. 
				</div>
			</div>
		<!--  writing head end -->
		<!-- team profile -->
			<div class="team_profile">
				<div class="team_first_section">
					<div class="team_first_img_section wow fadeIn">
						<img src="assets/images/team1.png" class="hidden-xs hidden-sm" >
						<img src="assets/images/peter.png" class="visible-xs visible-sm">
					</div>
					<div class="team_first_text_section">
						<div class="team_heading wow fadeInDown" data-wow-delay="0.2s">
							<p class="team_member_name">PETER LONGMAN</p>
							<p class="member_detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
						    </p>			
						    <div class="bottom_team_text_section ">
						    	<img src="assets/images/twitter.png" >
						    </div>				
						</div>
					</div>
				</div>
				<div class="team_second_section">
				<div class="team_second_left_section">
					<div class="team_second_img_section wow fadeIn">
						<img src="assets/images/team6.png" >
					</div>
					<div class="team_second_text_section">
							<div class="team_second_heading ">
								<div class="wow fadeInDown" data-wow-delay="0.2s">
									<p class="team_member_name">JOAN MARTINEZ</p>
									<p class="member_detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
								    </p>			
								    <div class="bottom_team_text_section">
								    	<img src="assets/images/twitter.png" >
								    </div>
							    </div>				
							</div>
						</div>
				</div>
					<div class="team_second_right_section">
						<div class="team_second_img_section wow fadeIn">
							<img src="assets/images/team7.png" >
						</div>
					<div class="team_second_text_section">
						<div class="team_second_heading ">
							<div class="wow fadeInDown" data-wow-delay="0.2s">
								<p class="team_member_name">MICHAEL DOE</p>
								<p class="member_detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
							    </p>			
							    <div class="bottom_team_text_section">
							    	<img src="assets/images/twitter.png" >
							    </div>		
							</div>		
						</div>
					</div>
					</div>
				</div>
				<div class="team_third_section">
					<div class="team_third_left_section">
						<div class="team_third_text_section">
							<div class="team_third_heading bg_white">
								<div class="wow fadeInDown" data-wow-delay="0.2s">
									<p class="team_member_name">SAUL GOODMAN</p>
									<p class="member_detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
								    </p>			
								    <div class="bottom_team_text_section">
								    	<img src="assets/images/twitter.png" >
								    </div>		
								</div>		
							</div>
						</div>
						<div class="team_third_img_section wow fadeIn">
							<img src="assets/images/team2.png" >
						</div>
					</div>
					<div class="team_third_right_section">
						<div class="team_third_text_section">
							<div class="team_third_heading">
								<div class="wow fadeInDown" data-wow-delay="0.2s">
									<p class="team_member_name">HUGH LAURENCE</p>
									<p class="member_detail">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
								    </p>			
								    <div class="bottom_team_text_section">
								    	<img src="assets/images/twitter.png" >
								    </div>			
								</div>	
							</div>
						</div>
						<div class="team_third_img_section wow fadeIn">
							<img src="assets/images/team4.png" >
						</div>
					</div>
				</div>
			</div>
		<!-- team profile end -->

		<!-- footer div -->
		<div class="team_footer" ng-include="'views/footer.html'"></div>
		<!-- footer div end -->
	</div>
</body>
</html>